
.type,
.date {
   margin: 0.9rem 0;
}


.email,
.phoneNumber,
.username,
.surname {
   padding: 0.9em;
   margin: 0.9rem 0;


}

.submit-btn {
   margin-top: 15px;
   padding: 0.9em 1.8em;
   width: 100%;
 }

 nb-option-group {
   flex-direction: row;
 }