<div fxLayout="column" fxLayoutAlign="center center">
<div class="title" fxFlex fxLayout="row" fxLayoutAlign="center center">
   <h2>Nasza oferta</h2><mat-icon class="edit-icon" (click)="goToAdministration()" *ngIf="modRole">edit</mat-icon>
</div>
<nb-column *ngIf="offer" class="container" fxLayout="row wrap" fxLayoutAlign="center center">
   <nb-card size="large" class="card" *ngFor="let offerItem of offer" fxFlex fxLayout="column" fxLayoutAlign="space-between center">
         <div
            class="background-image"
            fxLayoutAlign="center center">
            <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
               <p>{{ offerItem.name }}</p>
            </div>
            <div fxLayoutAlign="center center" class="content">
               <img *ngIf="getOfferPhotoByOfferId(offerItem.id)" [src]="getOfferPhotoByOfferId(offerItem.id)" />
            </div>
      </div>
      <div class="description"  fxFlex fxLayout="column" fxLayoutAlign="start center">
         {{getDescription(offerItem.massageId)}}
      </div>
      <div class="description" style="opacity: 0.75; font-size: 0.9em;" fxFlex fxLayout="column" fxLayoutAlign="end center">
         {{offerItem.price}}zł - {{offerItem.duration}}min
      </div>
      <nb-card-footer>
         <button nbButton type="primary" fullWidth shape="round" (click)="onOfferItemClick(offerItem)">Umów wizytę</button>
      </nb-card-footer>
   </nb-card>
</nb-column>
</div>