.center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   text-align: center;
   background: rgba(255, 255, 255, 0.8);
}

nb-card-header {
   padding:16px;   
}

nb-card-body {
   padding: 16px;
}

.main-card {
   border: 1px solid gray;
}

.email,
.password {
   padding: 0.9em;
   margin: 0.9rem;

   &:hover,
   :focus,
   :active {
     border-color: black;
     z-index: 9999;
   }
}