<nb-layout>
   <nb-layout-column class="left-slant" fxLayoutAlign="center center">
      <nb-card class="center"  fxLayout="column"  fxLayoutAlign="space-between center">
         <nb-card-header fxLayout="row" fxLayoutAlign="center center">
            <a routerLink="/home" style="font-weight: bold" >
               <img src="../../../assets/logo.png" style="width: 100%;"/>
            </a>
         </nb-card-header>
         <nb-card-body fxLayout="column" fxLayoutAlign="center center">
            <div class="title">
               <h4>Odkryj nową jakość w zarządzaniu wizytami i doświadcz kompleksowej opieki nad Twoim zdrowiem.</h4>
               <p>
                  
                  Witamy Cię w miejscu, gdzie dbamy o Twoje dobre samopoczucie. Nasza dedykowana aplikacja została stworzona, aby uczynić Twoje doświadczenie z masażem jeszcze bardziej komfortowym i dostosowanym do Twoich potrzeb.
               </p>
            </div>
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
               <div class="login-form" fxLayout="column" fxLayoutAlign="center center">
                  <p style="font-weight: bold">Zaloguj się, aby skorzystać z pełni możliwości:</p>

                  <label class="label" >Adres email:</label>
                  <input nbInput fullWidth fieldSize="small" id="email" type="text" class="email"
                     placeholder="Wprowadź adres email" formControlName="email" autocomplete="email" required />
                  <label class="label bottom-label">{{emailRequiredInfo}}</label>
                  
                  <label class="label">Hasło:</label>
                  <input nbInput fullWidth fieldSize="small"  id="password" formControlName="password" class="password"
                     placeholder="Wprowadź hasło" autocomplete="password" type="password" required />
                  <label class="label bottom-label">{{passwordRequiredInfo}}</label>

                  <label class="label bottom-label">{{authenticationErrorInfo}}</label>


                  <button nbButton  size="medium" fullWidth class="submit-btn" type="submit">
                     Zaloguj się
                  </button>
                  <div class="bottom-box">
                     <div class="reset-password-box" fxLayoutAlign="end center" fxLayout="column">
                        <p>Zapomniałeś hasła?</p>
                        <a (click)="openDialog(dialog)" style="font-weight: bold">
                           Kliknij tutaj
                        </a>
                     </div>
                     <br>
                     <div class="signup-box" fxLayoutAlign="end center" fxLayout="column">
                        <p>Dołącz do nas już dziś i zarządzaj swoimi wizytami! Nie masz konta?</p>
                        <a routerLink="/register" style="font-weight: bold">
                           Zarejestruj się
                        </a>
                     </div>
                  </div>
               </div>
            </form>
         </nb-card-body>
      </nb-card>
   </nb-layout-column>
 </nb-layout>
 <ng-template #dialog let-data let-ref="dialogRef">
   <nb-card class="reset-password-dialog" fxFlex fxLayout="column" fxLayoutAlign="space-between center">
      <nb-card-header *ngIf="!sendLinkExecuted">Odzyskiwanie hasła</nb-card-header>
      <nb-card-header *ngIf="sendLinkExecuted">Sprawdź skrzynkę odbiorczą!</nb-card-header>
         <div class="reset-passsword-dialog-content" *ngIf="!sendLinkExecuted">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
               <div class="login-form" fxLayout="column" fxLayoutAlign="center center">
                  <label class="label" >Adres email:</label>
                  <input nbInput fullWidth fieldSize="small" id="email" type="text" class="email"
                     placeholder="Wprowadź adres email" formControlName="email" autocomplete="email" required />
                     <label class="label bottom-label">{{prepareTooltip('email')}}</label>
                  
               </div>
                  <button  nbButton fullWidth size="medium"  class="submit-btn" type="submit" [disabled]="!resetPasswordForm.valid">Wyślij maila</button>
            </form>
         </div>
         <div class="reset-passsword-dialog-content" *ngIf="sendLinkExecuted" fxLayout="column" fxLayoutAlign="space-between center">
            <div >
               {{resetPasswordInfo}}
            </div>
               <button nbButton fullWidth size="medium"  class="submit-btn" type="submit" (click)="openDialogAgain()">Wyślij ponownie</button>
         </div>

      <!-- <nb-card-footer>
         <button  nbButton  size="medium"  type="submit">Send reset password request</button>
      </nb-card-footer> -->
   </nb-card>
 </ng-template>