<nb-layout>
   <nb-layout-column>
      <nb-card class="center main-card"  fxLayout="column">
         <nb-card-header>
            <a routerLink="/home" style="font-weight: bold">
               <img src="../../../assets/logo.png" style="width: 100%;"/>
            </a>
         </nb-card-header>
         <nb-card-body>
            <p style="font-weight: bold">SIGN IN:</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
               <div class="login-form" fxLayout="column" fxLayoutAlign="center center">
                  <input nbInput fullWidth fieldSize="small"  id="email" type="text" class="email"
                     placeholder="Email" formControlName="email" autocomplete="email" required />
                  <input nbInput fullWidth fieldSize="small"  id="password" formControlName="password" class="password"
                     placeholder="Password" autocomplete="password" type="password" required />
                  <button nbButton  size="medium"  class="submit-btn" type="submit" [disabled]="loginForm.value.email === '' || loginForm.value.password === ''">
                     SIGN IN
                  </button>
                  <div class="bottom-box">
                     <div class="reset-password-box" fxLayoutAlign="end center" fxLayout="column">
                        <p>Forgot password?</p>
                        <a (click)="openDialog(dialog)" style="font-weight: bold">
                           Reset password
                        </a>
                     </div>
                     <br>
                     <div class="signup-box" fxLayoutAlign="end center" fxLayout="column">
                        <p>Do not have an account?</p>
                        <a routerLink="/register" style="font-weight: bold">
                           Register
                        </a>
                     </div>
                  </div>
               </div>
            </form>
         </nb-card-body>
      </nb-card>
   </nb-layout-column>
 </nb-layout>
 <ng-template #dialog let-data let-ref="dialogRef">
   <nb-card>
      <nb-card-header>Reset password</nb-card-header>
      <nb-card-body>
         <div *ngIf="!sendLinkExecuted">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
               <div class="login-form" fxLayout="column" fxLayoutAlign="center center">
                  <input nbInput fullWidth fieldSize="small"  id="email" type="text" class="email"
                  placeholder="Email" formControlName="email" autocomplete="email" required placeholder="Enter email" 
                  [status]="resetPasswordForm.controls['email'].hasError('pattern') ? 'danger' : 'basic'" 
                  [nbTooltip]="prepareTooltip('email')" [nbTooltipStatus]="resetPasswordForm.controls['email'].value === ''  || resetPasswordForm.controls['email'].hasError('email') ? 'danger' : 'success'"/>
               </div>
               <div class="bottom-box">
                  <button  nbButton  size="medium" class="signup-box" type="submit" [disabled]="!resetPasswordForm.valid">Send reset password request</button>
               </div>
            </form>
         </div>
         <div *ngIf="sendLinkExecuted">
            <p>
               {{resetPasswordInfo}}
            </p>
            <div class="bottom-box">
               <button nbButton  size="medium" class="signup-box" type="submit" (click)="openDialogAgain()">Send reset password request again</button>
            </div>
         </div>
      </nb-card-body>

      <!-- <nb-card-footer>
         <button  nbButton  size="medium"  type="submit">Send reset password request</button>
      </nb-card-footer> -->
   </nb-card>
 </ng-template>