<div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="left">
      <p>Ecommerce Title</p>
    </div>
    <div class="center">
      <nb-icon icon="facebook-outline"></nb-icon>
      <nb-icon icon="twitter-outline"></nb-icon>
      <nb-icon icon="instagram-outline"></nb-icon>
    </div>
    <div class="right info"  fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <b>Kontakt:</b>
            <div>tel. 123 123 123</div>
            <b>Adres:</b>
            <div>Kraków, ul. Głowackiego 24 lu5</div>
        </div>

      <ul>
        <li><a href="#" class="info">O nas</a></li>
        <li><a href="#" class="info">Regulamin</a></li>
      </ul>
    </div>
</div>