
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gui-primary: mat.define-palette(mat.$indigo-palette);
$gui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gui-theme: mat.define-light-theme((
  color: (
    primary: $gui-primary,
    accent: $gui-accent,
    warn: $gui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gui-theme);

@font-face {
  font-family: 'Rethink Sans';
  src: url('./assets/fonts/rethink-sans.woff2') format('woff2'),
       url('./assets/fonts/rethink-sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Rethink Sans', sans-serif ;
  background-position: center; /* Adjust as needed */
  background-size: cover; /* Adjust as needed */
  user-select: none; /* Standard syntax */
}
body {
  background-image: url('./assets/background.jpg');

}
// * {
//   color: #292929!important;

// }

nb-layout {
  background-color: #F2F2F2;
}

a {
  color: black!important;
}

mat-icon {
  cursor: pointer!important;
}

.nb-theme-default nb-layout .layout {
  background-color: transparent !important;
}

/* Apply styles to the scrollbar track */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

/* Handle on hover and when dragged */
::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners of the scrollbar handle */
}

/* Handle on hover and when dragged */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Color of the scrollbar handle on hover */
}

/* Track background */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

/* Corner between horizontal and vertical scrollbar */
::-webkit-scrollbar-corner {
  background: transparent; /* Background color of the scrollbar corner */
}