<div class="cal-container">
  <button class="cal-button" (click)="przewinTydzien(-1)">Poprzedni tydzień</button>
  <button class="cal-button" (click)="przewinTydzien(1)">Następny tydzień</button>
</div>
<table class="calendar-table">
  <thead>
  <tr>
    <th>Godzina</th>
    <th class="day-header" *ngFor="let dzien of dni">
      {{dzien.data | date: 'EEEE' }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let godzina of dni[0].godziny">
    <td>{{ godzina }}</td>
    <td *ngFor="let dzien of dni">
      {{ dzien.rezerwacje[godzina]?.email || '-' }}
    </td>
  </tr>
  </tbody>
</table>
