<div class="sidebar" *ngIf="showSidebar">
   <div [ngClass]="switchCase == item.key ? 'active menuItems' : 'menuItems'" *ngFor="let item of menuItems" (click)="selectMenuItem(item.key)" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon class="sidebar-icon">{{item.icon}}</mat-icon>
      <p  fxFlex fxLayoutAlign="center center">{{item.title}}</p>
      {{item.active}}
   </div>
 </div>
 <div class="container" [ngSwitch]="switchCase">
   <nb-column *ngSwitchCase="'offer'" fxLayout="row wrap" fxLayoutAlign="center center">
     <nb-card size="large" class="card" *ngFor="let offerItem of offer" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <nb-card-header class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
         <span fxFlex fxLayoutAlign="center center">{{offerItem.massageName}}</span>
         <mat-icon class="delete-icon" matTooltip="Usuń element">delete</mat-icon>
       </nb-card-header>
       
            <nb-card-body class="card-description" fxLayout="column" fxLayoutAlign="center center">
              
               <p>
                  {{offerItem.description}}
               </p>
            </nb-card-body>
            <nb-card-footer>
               <mat-icon class="medium-icon" matTooltip="Edytuj element">edit</mat-icon>
            </nb-card-footer>
         </nb-card>
         <nb-card size="large" class="card" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <nb-card-header class="card-title"  fxLayoutAlign="center center">
               DODAJ OFERTĘ
            </nb-card-header>
            <nb-card-body class="card-description"  fxLayoutAlign="center center">
              <mat-icon class="large-icon">playlist_add</mat-icon>
            </nb-card-body>
         </nb-card>
      </nb-column>

      <nb-column *ngSwitchCase="'priceList'" fxLayout="column" fxLayoutAlign="center center">
         <div size="small" class="card" *ngFor="let offerItem of offer" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" class="card-title">
               <p class="offer-price-title">{{offerItem.massageName}}</p>
               <p>100zł</p>
               <mat-icon class="edit-price-button">edit</mat-icon>
            </div>
         </div>
      </nb-column>
</div>
