// @import "../../../../buttons.scss";
// @import "~@nebular/theme/styles/theming";
// @import "~@nebular/theme/styles/themes";

nb-card-header {
  padding:16px;   
}

nb-card-body {
  padding: 16px;
}

 .center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   text-align: center;
 }

 #login,
 #password,
 #confirm-password,
 #email,
 #username,
 #surname,
 #phone {
  padding: 0.6em 1.6em;
  margin: 0.3rem;

  &:hover,
  :focus,
  :active {
    border-color: black;
    z-index: 9999;
  }
}

.checkbox {
  padding: 0.6em 1.6em;
  margin: 0.3rem;

  &:hover,
  :focus,
  :active {
    border-color: black;
    z-index: 9999;
  }
}

.register-form {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.submit-btn {
  margin-top: 15px;
  padding: 0.9em 1.8em;
  width: 100%;
}

.bottom-box {
  margin-top: 2em;
  p {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}