.left-slant {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add light gray shadow */
  position: absolute;
  height: 100%;
  width: 60%; /* Set an initial width */
  background-color: white; /* Set the background color */
  transform: skewX(-10deg); /* Adjust the skew angle as needed */
  left: -7%;
}

.center {
  width: 100%;
  padding: 0 20px; /* Adjust padding as needed */
  height: 100vh; /* Use viewport height to make it full-height */
  background: transparent;
  text-align: center;
  transform: skewX(10deg); /* Adjust the skew angle as needed */
  border: 0 !important;
}

/* Media query for smaller screens */
@media screen and (max-width: 1200px) {
  .center {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .left-slant {
    width: 100%; /* Set full width for smaller screens */
    width: 80%; /* Set an initial width */
  }
}


@media screen and (max-width: 800px) {
  .center {
    transform: skewX(0deg); /* Adjust the skew angle as needed */
  }
  .left-slant {
    transform: skewX(0deg); /* Adjust the skew angle as needed */
    width: 100%; /* Set an initial width */
    left: 0%;
  }

  .title {
    display: none;
  }
}

nb-card-header {
  padding: 0;   
  width: 100%;
  border: 0 !important;
}

nb-card-body {
  margin:0;
  padding: 0;
  width: 100%;
  border: 0 !important;
  .title {
    width: 80%;
  }
}


 #login,
 #password,
 #confirm-password,
 #email,
 #username,
 #surname,
 #phone {
  padding: 0.6em 1.6em;
  margin: 0.3rem;

  &:hover,
  &:focus,
  &:active {
   border-color: darkgray !important;
 }
}


input {
  border: 1px solid rgb(229, 229, 229)!important;
  background-color:  white !important;
  margin: 2px;
  width: 100% !important;
  box-shadow: 0 0 2px rgba(175, 175, 175, 0.1); /* Add light gray shadow */
}

.danger {
  border: 0.5px solid rgb(204, 0, 0)!important;
  transition: border 0.5s ease;  // Adjust the duration and timing function as needed

}

.register-form {
  width: 100%;
}

.submit-btn {
  margin-top: 10px;
  padding: 0.9em 1.8em;
  background-color: white !important;
  cursor: pointer;
}

.bottom-box {
  margin-top: 2em;
  p {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

nb-checkbox {
  transform: scale(0.9);

}

.label {
  z-index: 1000;
  font-size: 13px;
  color: rgb(63, 63, 63);
  margin-bottom: -8px;
  margin-top: -5px;
  background-color:  white;
  text-align: left;
 }

 .bottom-label {
  color: rgb(204, 0, 0);
  font-weight: 400;
  min-height: 20px;
  margin-bottom: 8px;
  transition: color 0.3s ease, font-weight 0.3s ease;  // Adjust the duration and timing function as needed
}

 form {
  width: 500px;
 }

 @media screen and (max-width: 800px) {
  form {
    width: 100%;
   }
}