<nb-layout>
   <nb-layout-column  class="left-slant" fxLayoutAlign="center center">
     <nb-card class="center" fxLayout="column"  fxLayoutAlign="space-between center">
       <nb-card-header fxLayout="row" fxLayoutAlign="center center"> 
         <a routerLink="/home" style="font-weight: bold">
            <img src="../../../assets/logo.png" style="width: 100%;"/>
         </a>
       </nb-card-header>
 
       <nb-card-body fxLayout="column" fxLayoutAlign="center center">
          <div class="title">
            <h4>Dołącz do nas już dziś i zarządzaj swoimi wizytami!</h4>
               Nie masz konta? Zarejestruj się i korzystaj z pełni możliwości naszej aplikacji.
          </div>
          <br>
         <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
           <div class="register-form" fxLayout="column" fxLayoutAlign="center center">
            <label class="label" >Adres email:</label>
            <input nbInput  id="email" type="email" [ngClass]="{ 'danger': hasError('email') }" fullWidth fieldSize="small" placeholder="Wprowadź adres email" formControlName="email" required inputTrim/>
            <label class="label bottom-label">{{prepareTooltip('email')}}</label>

            <label class="label" >Hasło:</label>
            <input id="password"  nbInput fullWidth [ngClass]="{ 'danger': hasError('password') }"
              formControlName="password" fieldSize="small"  
              autocomplete="new-password" placeholder="Wprowadź hasło" type="password" required />
            <label class="label bottom-label">{{prepareTooltip('password')}}</label>

            <label class="label" >Potwierdź hasło:</label>
            <input id="confirm-password" nbInput [ngClass]="{ 'danger': hasError('confirmPassword') }" fullWidth placeholder="Wprowadź hasło ponownie" formControlName="confirmPassword"
              type="password" fieldSize="small" autocomplete="new-password" required />
            <label class="label bottom-label">{{prepareTooltip('confirmPassword')}}</label>

            <label class="label" >Imię:</label>
            <input nbInput  fullWidth [ngClass]="{ 'danger': hasError('username') }"
             id="username" type="text" fieldSize="small" placeholder="Wprowadź imię" formControlName="username" required inputTrim />
              <label class="label bottom-label">{{prepareTooltip('username')}}</label>

              <label class="label" >Nazwisko:</label>
              <input nbInput fullWidth [ngClass]="{ 'danger': hasError('surname') }"
                id="surname" type="text" fieldSize="small" placeholder="Wprowadź nazwisko"  formControlName="surname" required inputTrim />
              <label class="label bottom-label">{{prepareTooltip('surname')}}</label>

              <label class="label" >Numer telefonu:</label>
              <input nbInput appPhoneMask maxlength="11" fullWidth [ngClass]="{ 'danger': hasError('phone') }"
              id="phone" type="text" fieldSize="small" placeholder="Numer telefonu"  formControlName="phone" required inputTrim />
              <label class="label bottom-label">{{prepareTooltip('phone')}}</label>

              <div class="checkboxes"  fxLayout="column"  fxLayoutAlign="center center">

                <nb-checkbox formControlName="newsletter"  class="checkbox" fxLayout="row" fullWidth  fxLayoutAlign="start center">Zapisz mnie do newslettera!</nb-checkbox>
                <nb-checkbox formControlName="acceptPrivacy"  class="checkbox" >Akceptuje <a  (click)="openStatuateDialog(statuateDialog)" target=”_blank”> regulamin</a></nb-checkbox>
                <label class="label bottom-label">{{prepareTooltip('acceptPrivacy')}}</label>
              </div>
            
            <button nbButton fullWidth class="submit-btn" type="submit"  size="medium" >
              Zarejestruj się
            </button>

           </div>
         </form>
         <div class="bottom-box" fxLayout="column" fxLayoutAlign="end center">
           <p>Masz już konto?</p>
           <a routerLink="/login" style="font-weight: bold">
             Zaloguj się
            </a>
         </div>
       </nb-card-body>
     </nb-card>
   </nb-layout-column>
 </nb-layout>

 <ng-template #statuateDialog let-data let-ref="dialogRef">
  <nb-card>
      <div id="statuate">{{statuate ? statuate.content : "Regulamin nie istnieje"}}</div>
     <nb-card-footer  fxFlex fxLayout="row" fxLayoutAlign="center center">
        <div class="bottom-box">
           <button nbButton  size="medium" class="signup-box" type="submit" (click)="ref.close()">Zamknij</button>
        </div>
     </nb-card-footer>

  </nb-card>
</ng-template>