// @import "../colors.scss";
// @import "~@nebular/theme/styles/theming";
// @import "~@nebular/theme/styles/themes";
// @import "./@theme/styles/themes.scss";
// @import "src/app/@theme/styles/themes.scss";

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

.layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: none;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: nb-theme(background-basic-color-4);
}
