<div class="form-popup">
  <form [formGroup]="opinionForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Nazwa użytkownika</label>
      <input type="text" id="username" formControlName="username" required>
    </div>

    <div class="form-group">
      <label for="description">Opis</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="rate">Ocena</label>
      <input type="number" id="rate" formControlName="rate" required min="1" max="5">
    </div>

    <button type="submit" [disabled]="!opinionForm.valid">Wyślij opinię</button>
  </form>
</div>
