.navbar {
  height: 80px;
  width: 100vw;
  padding: 0;
  background-color: rgb(197, 197, 197);
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid black;

   .buttons {
    height: 100%;
    display: flex;
    flex-direction: row;

     .button-container {
      display: flex;
      align-items: center;
      min-width: 100px;
       .button-style {
         padding: 0.8rem 1rem;
         cursor: pointer;
         border-bottom: 3px solid transparent;
         position: relative;
         color: black;
         
         .icon-text {
         color: black;
           
           font-size: 15px;
           font-weight: bold;
           margin: 0;
         }

         &:hover {
           &::before {
             content: "";
             position: absolute;
             left: 10%;
             bottom: 0;
             height: 1px;
             width: 80%;
             border-bottom: 3px solid  black;
           }
         }

         &:focus {
           outline: none;
           box-shadow: none;
         }

         &.active-module {
           &::before {
             content: "";
             position: absolute;
             left: 10%;
             bottom: 0;
             height: 1px;
             width: 80%;
             border-bottom: 3px solid rgb(231, 0, 0);
           }
         }
       }
     }
   }
   .selectors {
     
     height: 100%;
     margin-right: 50px;
   }

   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
 }