<div class="navbar">
   <div class="buttons">
      <div class="button-container" *ngFor="let item of menuItems" fxLayoutAlign="center center">
        <!-- <div *ngIf="(item.permissions ? hasPermission(item.permissions) : true) && !item.disabled" class="button-style"
          [routerLink]="[item.url]" [routerLinkActive]="['active-module']"
          (click)="onModuleClick(item); block()" fxLayout="row" fxLayoutAlign="center center"> -->
          <!-- <mat-icon class="icon" svgIcon="{{item.icon}}">
          </mat-icon> -->
         <div  class="button-style" [routerLink]="[item.url]" [routerLinkActive]="['active-module']" 
         (click)="onModuleClick(item);">
          <p class="icon-text" fxHide fxShow.gt-md>{{ item.title }}</p>
        </div>
      </div>
    </div>

</div>