.navbar {
  height: 80px;
  width: 100vw;
  padding: 0;
  color: black;
  border-bottom: 2px solid black;

   .buttons {
    height: 100%;

     .button-container {

       .button-style {
         padding: 0.8rem 1rem;
         cursor: pointer;
         border-bottom: 3px solid transparent;
         position: relative;
         color: black;
         
         .icon-text {
         color: black;
         padding-left: 10px;

           font-size: 15px;
           font-weight: bold;
           margin: 0;
         }

         &:hover {
           &::before {
             content: "";
             position: absolute;
             left: 10%;
             bottom: 0;
             height: 1px;
             width: 80%;
             border-bottom: 3px solid  gray;
           }
         }

         &:focus {
           outline: none;
           box-shadow: none;
         }

         &.active-module {
           &::before {
             content: "";
             position: absolute;
             left: 10%;
             bottom: 0;
             height: 1px;
             width: 80%;
             border-bottom: 3px solid black;
           }
         }
       }
     }
   }
   .selectors {
     
     height: 100%;
     margin-right: 50px;
   }

   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
 }