
.title {
  width: 100%;
}

.background-image-1 {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative; /* Ensure positioning for child elements */
  overflow: hidden; /* Hide overflowing content */
  transition: transform 0.3s;
}

.background-overlay-1 {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3); /* Adjust the color and opacity of the overlay */
}
h2 {
  width: 100%;
  z-index: 4;
  color: #00010D!important;
  letter-spacing: 0.6mm;
  text-transform: uppercase;
}
.container {
   height: 100%;
   width: 100%;
}
.card {
   width: 100%;
   margin: 5%
}
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
*:not(mat-icon) {
  font-family: 'Rethink Sans', sans-serif !important;
}
nb-card-body {
   height: 100%;
}
nb-icon {
   font-size: 24px;
   cursor: pointer;
   margin: 0 2px;
 }

 form {
   height: 100%;
 }

 textarea {
   resize: vertical; /* You can use "none" to disable both horizontal and vertical resizing */
   min-height: 100px;
   max-height: 300px;
 }

 .title-heading {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 10px; /* Adjust as needed */
 }
 
 .description {
   font-size: 1rem;
   line-height: 1.4; /* Adjust as needed */
   color: #555!important;; /* Adjust the color as needed */
 }

 .card-description {
   width: 100%;
 }

 .review {
   width: 100%;
   border-bottom: 1px solid lightgray;
   padding: 10px;
 }

 .paging {
  width: 100%;
 }

 .paging-button {
  min-width: 145px;
  cursor: pointer;
 }

 .paging-button.hidden {
  visibility: hidden;
  opacity: 0;
}

#username,
#description {
   padding: 0.6em 1.6em;
   margin: 0.3rem;

   &:hover,
   &:focus,
   &:active {
    border-color: darkgray !important;
  }
}

input, textarea {
  border: 1px solid #d8d8d8 !important;
  background-color:  #ececec !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Add light gray shadow */
}


.login-form {
   width: 100%;

 }

 .submit-btn {
   padding: 0.9em 1.8em;
   border: 1px solid #d8d8d8 !important;
   background-color: #ececec !important;
   cursor: pointer;
 }

 .submit-btn:hover {
  border-color: darkgray !important;
  cursor: pointer;
}

.label {
  z-index: 1000;
  font-size: 13px;
  color: rgb(63, 63, 63)!important;;
  margin-bottom: -9px;
  background-color:  transparent;
  text-align: left;
 }

 .rating-label {
  margin-bottom: 0px;
}
