
<div *ngIf="!configurationMode" class="content" fxFlex fxLayout="column" >
   <!-- <div class="title" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div style="width:100%" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
         <div></div>
         <div><h2>Kalendarz </h2></div>
         <div>
            <a class="configuration" (click)="toggleConfiguration(); expand(expanded)" fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
               <mat-icon class="medium-icon"  matTooltip="Konfiguruj kalendarz">settings</mat-icon>
            </a>
         </div>
      </div>
   </div> -->
   <div class="title" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div class="background-image-1" [style.backgroundImage]="'url(' + getBackground() + ')'" fxLayoutAlign="center center">
         <div class="background-overlay-1"></div> <!-- Dodaj tło overlay -->
         <div fxLayout="row" fxLayoutAlign="space-between center" class="text">
            <mat-icon class="medium-icon"  matTooltip="Konfiguruj kalendarz" style="color: transparent;">settings</mat-icon>
            <h2>Kalendarz </h2>
            <a class="configuration" (click)="toggleConfiguration(); expand(expanded)" fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
               <mat-icon class="medium-icon"  matTooltip="Konfiguruj kalendarz">settings</mat-icon>
            </a>
         </div>
         
      </div>
      Aktualny czas:
      <div>{{ currentDateTime }}</div>
   </div>

   <div class="header" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <a (click)="currentWeek > 0 ? changeCurrentWeek(-1) : null" [ngClass]="currentWeek == 0 ? 'disabled' : 'link'"  fxLayoutAlign="center center">
         <mat-icon class="icon">navigate_before</mat-icon>
         <p  fxHide fxShow.gt-md>Poprzedni tydzień</p>
      </a>
      <hr>
      <p  fxFlex fxLayout="row" fxLayoutAlign="center center">{{calendarData[currentWeek].week}}</p>
      <hr>
      <a (click)="changeCurrentWeek(1)" class="link"  fxLayoutAlign="center center">
         
         <p  fxHide fxShow.gt-md>Następny tydzień</p>
         <mat-icon class="icon">navigate_next</mat-icon>
      </a>

   </div>
   
   <div *ngIf="calendarData.length > 0" fxFlex fxLayout="row wrap" >
      <div [ngClass]="{'column': true, 'today': days.today, 'passed': days.passed}" fxFlex fxLayout="column" fxLayoutAlign="center space-between" *ngFor="let days of calendarData[currentWeek].days;  index as i">
         <div class="column-title" [innerHTML]="formatDate(days.day)"></div>
         <div [ngClass]="{'booked': cell.isBooked, 'cell': true, 'finished': cell.isFinished}" *ngFor="let cell of days.cells" (click)="(cell.isBooked || cell.isFinished) ? triggerCellExpand(cell) : goToBooking()" [matTooltip]="!days.passed ? (cell.isFinished ? 'Wizyta zakończona' : (cell.isBooked && !cell.isExpanded ? 'Wizyta umówiona' : 'Wolny termin, kliknij aby dodać wizytę')) : ''" matTooltipPosition="after">
            <p>{{cell.startDate}}</p>
            <div *ngIf="(cell.isBooked || cell.isFinished) && cell.isExpanded">
               <p><b>Typ wizyty:</b> {{cell.appointment?.massageDTO.massageName}}</p>
               
               <p *ngIf="cell.appointment?.usersDTO?.username"><b>Klient:</b> {{cell.appointment?.usersDTO?.username}} {{cell.appointment?.usersDTO?.surname}}</p>
               <p *ngIf="!cell.appointment?.usersDTO?.username"><b>Klient:</b> {{cell.appointment?.usersDTO?.email}}</p>
               <p><b>Czas trwania:</b> {{cell.startDate}}-{{cell.endDate}}</p>

               <div *ngIf="!cell.isFinished" fxLayout="column" >
                  <div class="appointment-action"  *ngIf="!days.passed" fxLayout="row" fxLayoutAlign="space-between center"  (click)="openCancelDialog(cancelDialog, cell.appointment)" >
                     <mat-icon  class="appointment-action" class="icon">close</mat-icon> 
                     <div fxFlex>odwołaj wizytę</div>
                  </div>
                  <div class="appointment-action"  *ngIf="!days.passed" fxLayout="row" fxLayoutAlign="space-between center"  (click)="goToEdit(cell.appointment)" >
                     <mat-icon  class="appointment-action" class="icon">edit</mat-icon> 
                     <div fxFlex>edytuj wizytę</div>
                  </div>
                  <div class="appointment-action" *ngIf="!days.passed && days.today" fxLayout="row" fxLayoutAlign="space-between center"  (click)="finishAppointment(cell.appointment)">
                     <mat-icon  class="icon">checkmark</mat-icon> 
                     <div fxFlex>ustaw jako zakończoną</div>
                  </div>
               </div>

            </div>
            <!-- <div *ngIf="cell.isExpanded && !cell.isBooked && !cell.isFinished">
               <p><b>Wolny termin</b></p>

               <a *ngIf="!days.passed" class="icon" (click)="deleteAppointment(cell.appointment)">delete</a>

            </div> -->
         </div>
         <a class="column-bottom" fxFlex fxLayout="row wrap" fxLayoutAlign="center end">
            <mat-icon  (click)="toggleConfiguration(); expand(i)" *ngIf="!days.passed">edit</mat-icon>
         </a>
      </div>
   </div>
</div>

 <ng-template #cancelDialog let-data let-ref="dialogRef">
   <nb-card>
      <nb-card-header>Czy na pewno chcesz anulować wizytę?</nb-card-header>
      <nb-card-body>
         <div class="bottom-box">
            <button  nbButton  size="medium" class="signup-box" type="submit" (click)="deleteAppointment(data, true); ref.close()">Tak</button>
            <button  nbButton  size="medium" class="signup-box" type="submit" (click)=" ref.close()">Powrót</button>
         </div>
      </nb-card-body>
   </nb-card>
 </ng-template>


 <div  *ngIf="configurationMode" class="configurationBox" class="content" fxFlex fxLayout="column" >
      <!-- <div class="title" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
         <div></div>
         <div>
            <h2> Konfiguruj kalendarz     </h2>
         </div>
         <div>
            <a class="configuration" (click)="toggleConfiguration();" fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
               <mat-icon class="medium-icon" matTooltip="Zatwierdź zmiany">check</mat-icon>
            </a>
         </div> 
      </div> -->
      <div class="title" fxFlex fxLayout="column" fxLayoutAlign="center center">
         <div class="background-image-1" [style.backgroundImage]="'url(' + getBackground() + ')'" fxLayoutAlign="center center">
            <div class="background-overlay-1"></div> <!-- Dodaj tło overlay -->
            <div fxLayout="row" fxLayoutAlign="space-between center" class="text">
               <mat-icon class="medium-icon"  matTooltip="Konfiguruj kalendarz" style="color: transparent;">settings</mat-icon>
               <h2>Konfiguruj kalendarz </h2>
               <a class="configuration" (click)="toggleConfiguration();" fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="medium-icon" matTooltip="Zatwierdź zmiany">check</mat-icon>
               </a>
            </div>
            
         </div>
         Aktualny czas:
         <div>{{ currentDateTime }}</div>
      </div>

      <div style="padding-left: 20px;">Ustal domyślny czas pracy:</div>
      <div class="time-controls" fxFlex fxLayout="row" fxLayoutAlign="center start">
         <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <label>Godzina rozpoczęcia: </label>
            <app-time-picker [(hour)]="generalWorkingHours.startHours" [(minutes)]="generalWorkingHours.startMinutes" (timeChanged)="onTimeChange('start', true)"></app-time-picker>
          </div>
          
          <!-- <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <label>Godzina zakończenia: </label>
            <app-time-picker [(hour)]="generalWorkingHours.endHours" [(minutes)]="generalWorkingHours.endMinutes" (timeChanged)="onTimeChange('end')"></app-time-picker>
          </div> -->
         <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <label>Czas trwania wizyt: </label>
            <app-minutes-picker [(minutes)]="generalWorkingHours.visitLength" (minutesChange)="onTimeChange('length', true)"></app-minutes-picker>min
         </div>

         <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <label>Przerwy między wizytami: </label>
            <app-minutes-picker [(minutes)]="generalWorkingHours.breaks" (minutesChange)="onTimeChange('breaks', true)"></app-minutes-picker>min
         </div>
      </div>
      <p fxFlex fxLayout="row" fxLayoutAlign="center center"><b>Ustal grafik na ten tydzień:</b></p>

      <div fxFlex fxLayout="row wrap" >
         <div fxFlex [ngClass]="{'column': true, 'today': days.today, 'passed': days.passed}" 
         fxLayout="column" [ngStyle]="{ 'flex': expanded == i ? '2 0 auto' : '1 0 auto' }"   
         [class.expanded]="expanded == i" [class.narrow]="expanded != i" (click)="expanded != i && !days.passed ? expand(i) : null" fxLayoutAlign="start center" class="column configuration-day-column" *ngFor="let days of calendarData[currentWeek].days;  index as i" [matTooltip]="expanded != i && !days.passed  ? 'Kliknij aby konfigurować' : ''">
            <div class="column-title" [innerHTML]="formatDate(days.day)"></div>
            <div *ngIf="expanded == i" class="config-controls" fxLayout="row wrap"  fxLayoutAlign="center center">
               <div fxFlex fxLayout="column"   fxLayoutAlign="center center">
                  <div class="label label-height" fxLayout="row wrap">Ustal godzinę rozpoczęcia kolejnej wizyty:</div>
                  <app-time-picker [(hour)]="differentWorkHours[i].startHours" [(minutes)]="differentWorkHours[i].startMinutes"  (timeChanged)="onTimeChange('start', false)"></app-time-picker>
               </div>
               <!-- <app-time-picker [(hour)]="differentWorkHours[i].endHours" [(minutes)]="differentWorkHours[i].endMinutes" ></app-time-picker> -->
               <div fxFlex fxLayout="column" >
                  <div class="label label-height" fxLayoutAlign="center center">Ustal czas wizyty</div>   
                  <div fxLayout="row" fxLayoutAlign="center center"><app-minutes-picker [(minutes)]="differentWorkHours[i].visitLength"   (minutesChange)="onTimeChange('breaks', false)"></app-minutes-picker>min</div>
               </div>
               
               <div fxFlex fxLayout="column">
                  <div class="label label-height" fxLayoutAlign="center center">Ustal czas przerwy</div>
                  <div fxLayout="row" fxLayoutAlign="center center"><app-minutes-picker [(minutes)]="differentWorkHours[i].breaks"   (minutesChange)="onTimeChange('length', false)"></app-minutes-picker>min</div>
               </div>

            </div>
            
            <div [ngClass]="{'booked': cell.isBooked, 'config-cell': true, 'finished': cell.isFinished}" fxLayout="column" fxLayoutAlign="center center" *ngFor="let cell of days.cells; index as element">
               <div style="width: 100%" fxLayout="row wrap" fxLayoutAlign="space-around center">
                  <mat-icon *ngIf="expanded == i && !cell.isBooked && !cell.isFinished" style="color: transparent;">close</mat-icon> 
                  <p>{{cell.startDate}} - {{cell.endDate}}</p>
                  <mat-icon *ngIf="expanded == i && !cell.isBooked  && !cell.isFinished" fxLayoutAlign="center center" (click)="deleteAppointment(cell.appointment, false)">close</mat-icon> 
               </div>

               <div class="break-label label">{{getBreak(cell.endDate, days.cells[element + 1])}}</div>
            </div>
            <br>
            <div  *ngIf="expanded == i && !days.passed" class="add-slot" fxLayout="column" fxLayoutAlign="center center" (click)='addFreeSlot(i, days.day, differentWorkHours[i].startHours, differentWorkHours[i].startMinutes, differentWorkHours[i].visitLength, differentWorkHours[i].breaks)'>
               <div class="label" fxLayoutAlign="center center">Dodaj kolejny termin</div>
               <div fxLayout="row wrap"  fxLayoutAlign="center center">
                  <mat-icon>add_outline</mat-icon> 
                  <p>{{nextVisitStart}} - {{nextVisitEnd}}</p>
                  
               </div>
            </div>
         </div>
      </div>
 </div>