
.column {
   border: 1px solid rgb(241, 241, 241);
   text-align: center;
   margin: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add light gray shadow */
   border-radius: 3px;
   min-height: 600px;
}

#start,
#end {
   padding: 0.6em 1.6em;
   margin: 0.3rem;
   width: 80px;
   text-align: center;

   &:hover,
   :focus,
   :active {
     border-color: black;
     z-index: 9999;
   }
}

.column-title {
  border-bottom: 1px solid rgb(241, 241, 241);
  padding: 10px 0;
}

.cell {
  border-bottom: 1px solid rgb(241, 241, 241);
}

.cell:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.booked {
  background: repeating-linear-gradient(
    -45deg,
    #e0f5e957,   /* Lightest green */
    #e0f5e957 10px,
    #c0ebd957 10px,
    #c0ebd957 20px
  );
}

.booked:hover {
  background: repeating-linear-gradient(
    -45deg,
    #e0f5e987,   /* Lightest green */
    #e0f5e987 10px,
    #c0ebd987 10px,
    #c0ebd987 20px
  );
}

.link, a {
   text-decoration: none;
   cursor: pointer;
   color: black;
}

.link, .disabled {
  min-width: 150px
}

.link:hover, a:hover {
  color: black;
  .icon {
    font-weight: 600;
  }
}

.disabled {
  text-decoration: none;
  cursor:default;
  color: lightgray;
}

.disabled:hover {
  color: lightgray;
}

.login-form {
   margin-left: 0px;
   margin-right: 0px;
   width: 100%;
 }

 .submit-btn {
   margin-top: 15px;
   padding: 0.9em 1.8em;
   width: 100%;
 }

 .bottom-box {
   margin-top: 2em;
   p {
     padding: 0;
     margin: 0;
   }

   a {
     text-decoration: none;
   }
 }

 .add-free {
  padding: 10px 0;
 }


.configuration-day-column {
  padding: 5px 10px;
}
.configuration-column-title {
  font-weight: 600;
  padding: 15px;
}

.time-controls {
  margin-left: 20px;
}

label {
  min-width: 180px
}

.today{
  border: 1px solid rgb(85, 85, 85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add light gray shadow */

}

.passed {
  opacity: 0.5; /* Adjust the opacity as needed */

}