
<div class="content" fxFlex fxLayout="column" >
   <div class="title" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <h2>Kalendarz</h2>
      Aktualny czas:
      <div>{{ currentDateTime }}</div>
   </div>
   <a class="configuration" (click)="openDialog(configurationDialog, '')" fxFlex fxLayout="row wrap" fxLayoutAlign="end center">
      
      <p  fxHide fxShow.gt-md>Konfiguruj kalendarz</p>
      <mat-icon>settings</mat-icon>
   </a>
   <div class="header" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <a (click)="currentWeek > 0 ? changeCurrentWeek(-1) : null" [ngClass]="currentWeek == 0 ? 'disabled' : 'link'"  fxLayoutAlign="center center">
         <mat-icon class="icon">navigate_before</mat-icon>
         <p  fxHide fxShow.gt-md>Poprzedni tydzień</p>
      </a>
      <hr>
      <p  fxFlex fxLayout="row wrap" fxLayoutAlign="center center">{{calendarData[currentWeek].week}}</p>
      <hr>
      <a (click)="changeCurrentWeek(1)" class="link"  fxLayoutAlign="center center">
         
         <p  fxHide fxShow.gt-md>Następny tydzień</p>
         <mat-icon class="icon">navigate_next</mat-icon>
      </a>

   </div>
   
   <div *ngIf="calendarData.length > 0" fxFlex fxLayout="row wrap" >
      <div [ngClass]="{'column': true, 'today': days.today, 'passed': days.passed}" fxFlex fxLayout="column" *ngFor="let days of calendarData[currentWeek].days">
         <div class="column-title" [innerHTML]="formatDate(days.day)"></div>
         <div [ngClass]="cell.isBooked ? 'booked cell' : 'cell'" *ngFor="let cell of days.cells" (click)="triggerCellExpand(cell)">
            <p>{{cell.startDate}}</p>
            <div *ngIf="cell.isBooked">
               <p><b>Typ wizyty:</b> {{cell.appointment?.massageDTO.massageName}}</p>
               <p><b>Klient:</b> {{cell.appointment?.usersDTO?.username}} {{cell.appointment?.usersDTO?.surname}}</p>
               <p><b>Czas trwania:</b> {{cell.startDate}}-{{cell.endDate}}</p>

               <mat-icon *ngIf="!days.passed" class="icon" (click)="openCancelDialog(cancelDialog, cell.appointment)">cancel</mat-icon>

            </div>
            <div *ngIf="cell.isExpanded && !cell.isBooked">
               <p><b>Wolny termin</b></p>

               <mat-icon *ngIf="!days.passed" class="icon" (click)="deleteAppointment(cell.appointment)">delete</mat-icon>

            </div>
         </div>
         <a *ngIf="!days.passed" (click)="openDialog(dialog, days.day)" class="add-free" style="font-weight: bold">
            + add free slot
         </a>
      </div>
   </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
   <nb-card>
      <nb-card-header>Dodaj wolny termin - {{data}}</nb-card-header>
      <nb-card-body>
         <div class="time-controls" fxLayout="column" fxLayoutAlign="center start">
            <div>Ustal czas pracy:</div>
            <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
               <label>Godzina rozpoczęcia: </label>
               <app-time-picker [(hour)]="singleWorkingTime.startHours" [(minutes)]="singleWorkingTime.startMinutes"></app-time-picker>
             </div>
             
             <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
               <label>Godzina zakończenia: </label>
               <app-time-picker [(hour)]="singleWorkingTime.endHours" [(minutes)]="singleWorkingTime.endMinutes"></app-time-picker>
             </div>
            <!-- <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
               <label>Przerwy między wizytami: </label>
               <app-minutes-picker [minutes]="generalWorkingHours.breaks"></app-minutes-picker>min
            </div> -->
         </div>
      </nb-card-body>
      <nb-card-footer fxLayoutAlign="center center">
         <button nbButton type="primary" (click)="generateSingleFreeSlot(data); ref.close()">Dodaj termin</button>
      </nb-card-footer>
   </nb-card>
 </ng-template>

 <ng-template #cancelDialog let-data let-ref="dialogRef">
   <nb-card>
      <nb-card-header>Czy na pewno chcesz anulować wizytę?</nb-card-header>
      <nb-card-body>
         <div class="bottom-box">
            <button  nbButton  size="medium" class="signup-box" type="submit" (click)="cancelAppointment(data); ref.close()">Tak</button>
            <button  nbButton  size="medium" class="signup-box" type="submit" (click)=" ref.close()">Powrót</button>
         </div>
      </nb-card-body>
   </nb-card>
 </ng-template>


 <ng-template class="configurationDialog" #configurationDialog let-data let-ref="dialogRef">
   <nb-card>
      <nb-card-header>Konfiguracja kalendarza</nb-card-header>
      <nb-card-body  fxLayout="column">
         <div  fxLayout="row wrap">
            <div fxFlex fxLayout="column">
               <div>Wybierz dni pracujące:</div>
               <div fxFlex fxLayout="row" >
                  <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="column configuration-day-column" *ngFor="let days of calendarData[currentWeek].days;  index as i">
                     <nb-checkbox 
                     status="basic" 
                     (change)="toggleDaySelection(days.day)"
                     [checked]="selectedWorkDays.includes(days.day)"
                     ></nb-checkbox>
                     <div class="configuration-column-title">{{days.day}}</div>
                     {{getDayName(days.day)}}
                     <app-time-picker [(hour)]="differentWorkHours[i].startHours" [(minutes)]="differentWorkHours[i].startMinutes"></app-time-picker>
                     <app-time-picker [(hour)]="differentWorkHours[i].endHours" [(minutes)]="differentWorkHours[i].endMinutes" ></app-time-picker>
                  </div>
               </div>
            </div>
            
            <div class="time-controls" fxLayout="column" fxLayoutAlign="center start">
               <div>Ustal domyślny czas pracy:</div>
               <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
                  <label>Godzina rozpoczęcia: </label>
                  <app-time-picker [(hour)]="generalWorkingHours.startHours" [(minutes)]="generalWorkingHours.startMinutes" (timeChanged)="onTimeChange('start')"></app-time-picker>
                </div>
                
                <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
                  <label>Godzina zakończenia: </label>
                  <app-time-picker [(hour)]="generalWorkingHours.endHours" [(minutes)]="generalWorkingHours.endMinutes" (timeChanged)="onTimeChange('end')"></app-time-picker>
                </div>
               <!-- <div class="time-picker-field" fxFlex fxLayout="row" fxLayoutAlign="center center">
                  <label>Przerwy między wizytami: </label>
                  <app-minutes-picker [minutes]="generalWorkingHours.breaks"></app-minutes-picker>min
               </div> -->
            </div>
         </div>
      </nb-card-body>
      <nb-card-footer fxLayoutAlign="center center">
         <button nbButton type="primary" (click)="generateCalendar(); ref.close()">Wygeneruj kalendarz</button>
      </nb-card-footer>

   </nb-card>
 </ng-template>