<nb-layout>
   <nb-layout-column >
     <nb-card [class]="'center'" >
        
        
      <nb-card-header>
         <a routerLink="/home" style="font-weight: bold">
            <img src="../../../assets/logo.png" style="width: 100%;"/>
         </a>
      </nb-card-header>
      <nb-card-body *ngIf="resetPasswordView">
         <p style="font-weight: bold">RESET PASSWORD:</p>

         <form  [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(dialog)">
            <div class="reset-password-form" fxLayout="column" fxLayoutAlign="center center">
             <input id="password"  nbInput [nbTooltip]="prepareTooltip('password')"
               [nbTooltipStatus]="resetPasswordForm.controls['password'].value === '' || resetPasswordForm.controls['password'].hasError('pattern') ? 'danger' : 'success'" 
               [status]="resetPasswordForm.controls['password'].hasError('pattern') ? 'danger' : 'basic'" 
               formControlName="password" fieldSize="small" fullWidth 
               autocomplete="new-password" placeholder="Password" type="password" required />
  
              <input id="confirm-password" nbInput 
               [nbTooltip]="prepareTooltip('confirmPassword')" [status]="
               resetPasswordForm.controls['confirmPassword'].hasError('pattern') ? 'danger' : 'basic'"   [nbTooltipStatus]="resetPasswordForm.controls['confirmPassword'].value === '' || resetPasswordForm.controls['confirmPassword'].value !== resetPasswordForm.controls['password'].value || resetPasswordForm.controls['confirmPassword'].hasError('pattern') ? 'danger' : 'success'" placeholder="Confirm password" fullWidth  formControlName="confirmPassword"
                type="password" fieldSize="small" autocomplete="new-password"
                required />

             <button nbButton class="submit-btn" type="submit"  size="medium" 
               [disabled]="!resetPasswordForm.valid">
               Reset Password
             </button>
 
            </div>
          </form>
      </nb-card-body>
      <nb-card-body *ngIf="cannotResetPasswordView">
         <p style="font-weight: bold">LINK INACTIVE</p>
         <div class="bottom-box">
            <button nbButton  size="medium" class="signup-box" type="submit" (click)="goToLogin()">Go back to login</button>
         </div>
      </nb-card-body>
   </nb-card>

</nb-layout-column>
</nb-layout>
<ng-template #dialog let-data let-ref="dialogRef">
   <nb-card>
      <nb-card-header>Booking status</nb-card-header>
      <nb-card-body>
         {{data}}
      </nb-card-body>
      <nb-card-footer  fxFlex fxLayout="row" fxLayoutAlign="center center">

         <div class="bottom-box">
            <button *ngIf="resetPasswordStatus?.success" nbButton  size="medium" class="signup-box" type="submit" (click)="goToLogin(); ref.close()">Go back to login page</button>
            <button *ngIf="resetPasswordStatus?.failure" nbButton  size="medium" class="signup-box" type="submit" (click)="goToLogin(); ref.close()">Try again</button>
         </div>
      </nb-card-footer>
   </nb-card>
 </ng-template>