<div class="container" fxLayout="column" fxLayoutAlign="center center" >

      <nb-card class="center main-card" fxFlex fxLayout="column">
         <nb-card-header fxFlex fxLayout="column">
            <a routerLink="/home" style="font-weight: bold">
               <img src="../../assets/logo.png" style="width: 80%;"/>
            </a>
            <h6>
               Make an appointment
            </h6>
         </nb-card-header>
         <nb-card-body>
            <app-booking-form></app-booking-form>
         </nb-card-body>
      </nb-card>
</div>