.container {
   width: 700px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}


nb-card-header {
   padding:16px;   
}

nb-card-body {
   padding: 16px;
}
