<div class="container" fxLayout="column" fxLayoutAlign="center center" >

   <nb-card class="title" fxFlex fxLayout="column" fxLayoutAlign="center center" >
      <nb-card-header>Opis działaności tego ziomeczka(może jakieś zdjecie powyżej)</nb-card-header>
      <nb-card-body>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dicta sapiente perspiciatis magnam aspernatur adipisci hic, beatae suscipit laborum, tempore odit ex nesciunt aliquam nemo iste? Quod ipsam provident unde! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquam voluptas consequuntur eveniet doloribus eius, impedit fugit, ullam consequatur, quam quos veritatis natus iure ipsam maiores libero repudiandae commodi! Perspiciatis!</nb-card-body>
      
   </nb-card>
   
   <app-offer></app-offer>
   <app-newsletter></app-newsletter>
</div>
